.cloud
.storage
appdaemon
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.token
*temp
.HA_VERSION
.uuid
*.save
bash_scripts
custom_components
panels
node-red
www
home-assistant.env
home-assistant.*
known_devices.yaml
components
deps
google_calendars.yaml
tts
secrets.yaml
temp_from*
